<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>도시</th>
                <th>주소</th>
                <th>우편번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}">id</td>
                <td th:text="${member.name}">이름</td>
                <td th:text="${member.address?.city}">도시</td>
                <td th:text="${member.address?.street}">주소</td>
                <td th:text="${member.address?.zipcode}">우편번호</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>